<%include ../partials/header.ejs%>

<div class="container" >
	<div class="row">
		<div class="col-md-3">
			<h3>Dashboard</h3>
			<div class="list-group">
			<% if(emp_data.author.id.equals(userDetails._id) == true){ %>
					<form  action="/employee/<%=emp_data._id%>/requestreview" method="POST">
						<div class="form-group">
							<label for="exampleFormControlSelect1">UserList</label>
							<select class="form-control" id="selectUser" name="selectUser" >
								<%user_data.forEach(function(data){ %> 
									<option><%=data.username%></option>
								<%});%>
							</select>
						</div>
						<div class="form-group">
							<input class="form-control" type="employee_id" placeholder="<%=emp_data._id%>" name="employee_id" readonly>
							<input class="form-control" type="employee_name" placeholder="<%=emp_data.name%>" name="employee_name" readonly>
						</div>
						<button class="btn btn-md btn-primary btn-block">Request Review</button>
					</form>			
			<% } %>
			</div>
		</div>
		<div class="col-md-9" >
		<% if(emp_data.author.id.equals(userDetails._id) == false && emp_data.isreviewed == false  ){ %>
			<form  action="/employee/<%=emp_data._id%>/reviewdone" method="POST">
				<button  class="btn btn-lg btn-success ">Review Send</button>
			</form>
		<% } %>
			<div class="thumbnail">
				<img class="img-responsive" src= "<%=emp_data.image %> " alt="employee">
					<% if(emp_data.isreviewed == false ){ %>
						<div style="background:red;color:white" width="200" height="100">Not Reviewed</div>
					<% }else{ %>
						<div style="background:green;color:white" width="200" height="100">Reviewed</div>
					<% } %>
					<h4 ><%=emp_data.name%></h4>
					<h4 ><%=emp_data.age%></h4>
					<h4 ><%=emp_data.post%></h4>
					<h4 ><%=emp_data.salary%></h4>
					<h4 ><%=emp_data.location%></h4>
					<p id="data_descrip"><%=emp_data.description%></p>
						<a href="/employee/<%=emp_data._id%>/edit" class="btn btn-md btn-success">Edit</a>
						<form id="deletebutton" action="/employee/<%=emp_data._id%>/delete" method="GET"> 
							<button class="btn btn-md btn-danger">Delete</button>
						</form>
				</div>
			</div>
		</div>	
	</div>
</div>
<%include ../partials/footer.ejs%>