<%include ../partials/header.ejs%>

<div class="container" >
	<div class="row">
		<div class="col-md-3">
			<h3>Dashboard</h3>
			<div class="list-group">
				<div class="list-group-item active">Home</div>
				<div class="list-group-item ">Timeline</div>
				<div class="list-group-item">Achievements</div>
			</div>
		</div>
		<div class="col-md-9" >
			<div class="thumbnail">
				<img class="img-responsive" src= "<%=data.image %> " alt="employee">
					<h4 ><%=data.name%></h4>
					<h4 ><%=data.age%></h4>
					<h4 ><%=data.post%></h4>
					<h4 ><%=data.salary%></h4>
					<h4 ><%=data.location%></h4>
					<p id="data_descrip"><%=data.description%></p>
						<a href="/employee/<%=data._id%>/edit" class="btn btn-md btn-success">Edit</a>
						<form id="deletebutton" action="/employee/<%=data._id%>/delete" method="GET"> 
							<button class="btn btn-md btn-danger">Delete</button>
						</form>
				</div>
			</div>
		</div>	
	</div>
</div>
<%include ../partials/footer.ejs%>