<%include ../partials/header.ejs%>

<div class="container" >
	<div class="row">
		<div class="col-md-3">
			<h3>Yelp Camp</h3>
			<div class="list-group">
				<div class="list-group-item active">info-1</div>
				<div class="list-group-item">info-2</div>
				<div class="list-group-item">info-3	 </div>
			</div>
		</div>
		<div class="col-md-9" >
			<div class="thumbnail">
				<img class="img-responsive" src= "<%=data.image %> " alt="Invisible Campsite">
				<div class="caption">
					<h4 class="float-right">$9.00/night</h4>
					<h4 ><a href="#"><%=data.name%></a></h4>
					<p id="data_descrip"><%=data.description%></p>
						<a href="/campgrounds/<%=data._id%>/edit" class="btn btn-md btn-success">Edit</a>
						<form id="deletebutton" action="/campgrounds/<%=data._id%>/delete" method="GET"> 
							<button class="btn btn-md btn-danger">Delete</button>
						</form>
				</div>
			</div>
			<div class="well" id="comment_section">
				<div class="text-right">
					<a href="/campgrounds/<%=data._id%>/comments/new" class="btn btn-md btn-success">add comments
					</a>
				</div>
				<hr>
				<%data.comments.forEach(function(comment_data){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%=comment_data.author.username%> </strong>
							<span class="float-right">10 days ago </span>
							<p><%=comment_data.comment%></p>
							<span class="float-right"><a  class="btn btn-sm btn-success" href="/campgrounds/<%=data._id%>/comments/<%=comment_data._id%>/edit">Edit</a>  <a  class="btn btn-sm btn-danger " href="/campgrounds/<%=data._id%>/comments/<%=comment_data._id%>/delete">Delete</a></span>
						</div>
					</div>
			     <%});%>
			</div>
		</div>	
	</div>
</div>
<%include ../partials/footer.ejs%>
